.btn-group {
	padding-left: 45%;
	padding-top: 1%;
	padding-bottom: 2%;
	float: left;
}

.date-range-options {
	float: left;
	padding-left: 35%;
	padding-top: 3%;
	width: 100%;
}

#to-option {
	padding-left: 2%;
}

#display-data {
	padding-left: 48%;
	padding-top: 6%;
}